<%= render 'books/list', book: @book, user: @user %>


<h2>Books</h2>

<% @books.each do |book| %>
  <div>
    <%= image_tag @user.get_profile_image(100,100) %>
    <p>title：<%= link_to book.title, book_path(book.id) %></p>
    <p>opinion：<%= book.body %></p>
  </div>
<% end %>